body {
    margin: 0;
    background-color: dodgerblue;
}

@font-face 
{
    font-family: 'LemonMilk';
    src: url('fonts/LemonMilk.otf');
}

h1{
    font-family: 'LemonMilk', Serif;
    text-align: center;
    color: navy;
}

header{
    font-family: 'LemonMilk', Serif;
    height: 8%;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav{
    margin-left: 20%;
    margin-right: 20%;
    background-color: navy;
    padding: 0;
    text-align: center;
}

#nav ul{
    padding: 0;
}

#nav ul li{
    color:white;
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
}

#nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

#nav a:hover{
    color: skyblue;
}

main{
    margin: 3% 5%;
}

#forms{
    margin-top: 8%;
    height: 150px;
    visibility: hidden;
}

form{
    font-family: 'LemonMilk', Serif;
    float: left;
    margin: 0 2%;
    width: 28%;
    display: inline-block;
}

#classTable{
    /*display: inline-block;*/
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}



#tableSection{
    margin: 0 15%;
}


#classTable th{
    height: 30px;
    font-size: 1.2em;
}


#classTable td{
    width: 100%;
    border: 1px double grey;
}

.error{
    font-family: 'LemonMilk', Serif;
    color:firebrick;
    font-size: 12px;
}

#questions{
    padding: 5%;
}

strong{
    font-size: 30px;
}