body
{
	text-align:center;
	background-color:silver;
}
p, ul
{
	text-align:justify;
	margin-right: 20%;
}
button
{
	width:300px;
	padding:1%;
	margin-top:1%;
	border-radius: 20px;
}
button:hover
{
	background-color:green;
}