body
{
	text-align:center;
	background: url("fond.png") fixed no-repeat; /*plusieurs images de fond + position style et caracterisiques*/
}

h2
{
	border: 3px black double;
	border-radius: 50px;					
	text-align: center;			/*position du texte*/
	padding: 2%;    
}

h3
{
	padding-top: 1%;
}

ul
{
	padding-top:1%;
	padding-bottom:1%;
	border: 1px black double;
	border-radius: 30px;
	padding-left:10%;
	padding-right:10%;
}

#title
{
	padding-left:35%;
	padding-right:35%;
}

#link
{
	padding-top: 1%;
	font-size: 15px;
}