
html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    background-color: whitesmoke;
}
#map { 
    height: 50%;
    width: 50%;
    margin-left: 13%;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    margin-left: 13%;
    margin-right: 13%;
    border-radius: 10px;
    padding: 1%;
}
h2{
    margin-left: 13%;
}
p{
    margin-left: 13%;
    margin-right: 13%;
    text-align: justify;
}