p
{
	text-align: justify;
}

iframe
{
	border-radius: 30px;
	margin-bottom: 5%;
	margin-top: 5%;
	height: 300px;
	width: 600px;
}

header
{
	font-size:40px;
	color: white;
    text-align: center;	/*position du texte*/
}

body
{
	text-align:center;
	background: url("fond.jpg") fixed no-repeat; /*plusieurs images de fond + position style et caracterisiques*/
}

img
{
	border-radius: 40px;
	height: auto;
	width: auto;
	max-height: 200px;
}

h1, h2
{
	background-color: black;
	color: white;
	padding-bottom:1%;
	padding-top:1%;
	margin-left:30%;
	margin-right:30%;
}


#skills
{
	margin-left:45%;
	text-align:justify;
}

ul#list
{
	padding:0;
}

ul#list li
{
	display:inline
}

ul#list li a
{
	background-color:black;
	color:white;
	padding: 10px 20px;
	text-decoration:none;
}

ul#list li a:hover
{
	background-color: silver;
}

#presentation
{
	text-align:justify;
	border: 3px black double;
	border-radius: 30px;
	padding-left:15%;
	margin-left:25%;
	margin-right:25%;
}

#list
{
	
	padding-left:45%;
	padding-right:45%;
}

.answers
{
	margin-right:50%;
	text-align:justify;
}
