voitures {
	
	background: url("img/458.png") fixed no-repeat top right, url("img/991.png") fixed top left no-repeat, url("img/fond.jpg") fixed;
}

voiture {
    display:block;
}

identite {
    display:block;
    padding:10px;
    font-weight:bold;
    color:white;
	text-align:center;
	margin-left:15%;
	margin-right:15%;
	border-radius:12px;
}

#porsche{
    background-color:#000000;
	opacity:0.7;
}

#ferrari{
    background-color:#ff0000;
	opacity:0.7;
}

#peugeot{
    background-color:#0f00b6;
	opacity:0.7;
}

caracteristiques {
    display:block;
    padding: 5px 10px;	
	margin-left:21%;
	color:white;
}

caracteristique {
    display:block;
}

questions{
	color:white;
}

question{
	display:block;
	padding:2%;
	text-align:justify;
	
}

couleur{
	color:silver;
}